.h1 {
    color: #DCC48E;
    width: 6em;
    font-size: 6em;
    padding-top: 0.5em;
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 700;
}

.container {
    margin-top: 20px;
}

/* Styling for the strong about text */
.abt-strong {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: white;
}

/* General styling for the about text */
.about-txt {
    font-size: 0.94rem;
    margin-top: 10px;
    color: #969696;
}

/* Style for social media icons */
.social-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

/* Image styling */
.home-photo {
    width: 100%;
    border-radius: 15px;
}
.h2 {
    color: #DCC48E;
    width: 6em;
    font-size: 6em;
    padding-top: 0.5em;
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 700;
}

.capa-txt {
    color: #686868;
    width: 35em;
    font-size: 1.22em;
    margin-top: 3em;
}

.d-block {
    scale: 0.8;
    border-radius: 100%;
    margin-bottom: 5em;
    position: relative;
}

.capa-btn {
    color: white;
    background-color: black;
    border: #BE97C6 2px solid;
    border-radius: 15px;
    width: 7em;
    height: 3em;
    margin: 0.5em;
}

.h3 {
    font-size: 5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.carousel {
    margin-top: 0;
    padding-top: 0;
    width: 50%;
}

.abt-carousel {
    margin-bottom: 0.2em;
}

.capa-btn:hover {
    cursor: auto;
}

.abt-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .h1 {
        float: center;
        text-align: center;
    }
}

@media only screen and (max-width: 625px) {
    .abt-strong {
        font-size: 1.3em;
    }
    .about-txt {
        font-size: 0.8em;
    }
    .capa-txt {
        font-size: 0.8em;
    }
    .h2 {
        font-size: 5em;
    }
}
@media only screen and (max-width: 475px) {
    .abt-strong {
        font-size: 0.9em;
    }
    .about-txt {
        font-size: 0.6em;
    }
    .capa-txt {
        font-size: 0.6em;
    }
    .h2 {
        font-size: 3.3em;
    }
    .h3 {
        font-size: 3em;
    }
}
@media only screen and (max-width: 350px) {
    .capa-txt {
        font-size: 0.5em;
    }
    .about-txt {
        font-size: 0.5em;
    }
    .abt-strong {
        font-size: 0.8em;
    }
    .h2 {
        font-size: 3.1em;
    }
}